---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Digital Identity Creation",
    description:
      "Craft a unique brand presence with our specialized discovery and design workshops.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Strategic Marketing Tools",
    description:
      "Elevate your engagement through tailored social media and content marketing strategies.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Operational Efficiency",
    description:
      "Integrate cutting-edge CRM and ERP solutions to streamline your business processes.",
    icon: "bx:bxs-data",
  },
  {
    title: "Data-Driven Growth",
    description:
      "Utilize analytics and AI insights for informed decision-making and targeted campaigns.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Innovative Technology",
    description:
      "Harness the power of IoT and blockchain for secure, smart business operations.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Customer Experience Excellence",
    description:
      "Design memorable journeys with our comprehensive customer experience optimization.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    How can we help you?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We don't just transform businesses; we redefine them. With our comprehensive suite of digital solutions, your brand's narrative will be as captivating as it is effective.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
